<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.post_project.mapper.ArticleMapper">
  <insert id="insertArticle" parameterType="ArticleDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO article(title, contents, writer)
    VALUES (#{title}, #{contents}, #{writer})
  </insert>

  <select id="selectArticleList" resultType="ArticleDto">
    SELECT id       ,
           title    ,
           contents ,
           writer   ,
           reg_date AS regDate
      FROM article
     ORDER BY id DESC
  </select>

  <!-- <select id="selectArticleById" parameterType="int" resultType="ArticleDto">
    SELECT id       ,
           title    ,
           contents ,
           writer   ,
           reg_date AS regDate
      FROM article
     WHERE id = #{id}
  </select> -->
  <resultMap id="selectArticleByIdResultMap" type="ArticleDto">
      <id property="id" column="id" />
      <result property="contents" column="contents"/>
      <result property="title" column="title"/>
      <result property="regDate" column="regDate"/>
      <collection property="files" ofType="ArticleFileDto">
          <id property="id" column="fileId"/>
          <result property="fileName" column="fileName"/>
          <result property="fileSize" column="fileSize"/>
          <result property="filePath" column="filePath"/>
          <result property="articleId" column="id"/>
      </collection>
  </resultMap>
  <select id="selectArticleById" resultMap="selectArticleByIdResultMap" parameterType="int">
      SELECT
          a.id as id,
          a.writer as writer,
          a.contents as contents,
          a.reg_date as regDate,
          a.title as title,
          af.id as fileId,
          af.file_name as fileName,
          af.file_size as fileSize,
          af.file_path as filePath,
          af.article_id as articleId


      FROM article as a
          LEFT OUTER JOIN article_file af
              ON a.id = af.article_id


      WHERE a.id = (#{id})

  </select>

  <update id="updateArticle" parameterType="ArticleDto">
    UPDATE article
       SET title    = #{title}    ,
           contents = #{contents} ,
           writer   = #{writer}
     WHERE id = #{id}
  </update>

  <delete id="deleteArticle" parameterType="int">
    DELETE 
      FROM article
     WHERE id = #{id}
  </delete>

  <select id="findArticleList" parameterType="Criteria" resultType="ArticleDto">
    SELECT id       ,
           title    ,
           contents ,
           writer   ,
           reg_date AS regDate
      FROM article
    <if test="keyfield != '' and keyword != ''">
      <trim prefix="WHERE"> <!-- <where>도 가능 -->      
        <choose>
          <when test="keyfield == 'title'">
            title Like CONCAT('%',#{keyword},'%')
          </when>
          <when test="keyfield == 'contents'">
            contents Like CONCAT('%',#{keyword},'%')
          </when>
          <when test="keyfield == 'writer'">
            writer Like CONCAT('%',#{keyword},'%')
          </when>
        </choose>        
      </trim>
    </if>
    ORDER BY id DESC
  </select>
</mapper>